<h1>Restaurants</h1>
<%= link_to 'Add Restaurant', new_restaurant_path %>

<% @restaurants.each do |restaurant| %>
	<h1><%= restaurant.name %></h1><br>
	<%= restaurant.city %><br>
	<%= restaurant.description %><br>
	<%= restaurant.location %><br>
<% end %>