<h1><%= @restaurant.name %></h1>

<%= @restaurant.description %><br>
<%= @restaurant.location %><br>
<%= @restaurant.city %><br>

<%= link_to 'Back to Homepage', restaurants_path %><br>
<%= link_to 'Edit Restaurant', edit_restaurant_path %>